<h1>Hello, {{.Name}}!</h1>
<h2>What time is it? It's {{.Time}}</h2>
<h1>These are my friends: {{.Friends}}</h1>
<h2>Friend's and their Jobs: Greg - {{index .FriendsJobs "Greg"}} Jim - {{index .FriendsJobs "Jim"}}</h2>